{% extends 'regress/html/case_base.html' %}
{% block case %}
    <div class="col-md-4">
    <h4>选择节点 <span class="label label-warning">必选</span></h4>
  <select class="selectpicker show-tick form-control" data-live-search="true">
    <option>四川(sichuan)</option>
    <option>江西(jiangxi)</option>
    <option>湖北(hubei)</option>
    <option>上海(shanghai)</option>
    <option>北京(beijing)</option>
    <option>河北(hebei)</option>
  </select>
    </div>
    <div class="col-md-4">
    <h4>选择模块<span class="label label-warning">必选</span></h4>
  <select class="selectpicker show-tick form-control" data-live-search="true">
  <span class="label label-default">Default</span>
    <option>四川(sichuan)</option>
    <option>江西(jiangxi)</option>
    <option>湖北(hubei)</option>
    <option>上海(shanghai)</option>
    <option>北京(beijing)</option>
    <option>河北(hebei)</option>
  </select>
    </div>

    <div class="col-md-4">
     <h4>用例名称 <span class="label label-warning">必填</span></h4>
        <input type="text">
    </div>

   <div class="col-md-10" style="width: 100%">
  <h4>测试目的 <span class="label label-info"></span></h4>
       <textarea style="width: 100%"></textarea>
   </div>
    <div class="col-md-10">
            <div class="panel panel-default">
  <div class="panel-heading">

          <h3 class="panel-title" >设计用例</h3>
  </div>
  <div class="panel-body" style="background-color: white;height: 100%">
  <div class="col-md-12">
     <h4>测试目的 <span class="label label-info"></span></h4>
       <textarea style="width: 100%"></textarea>
  </div>
      <div class="col-md-12">
     <h4>测试目的 <span class="label label-info"></span></h4>
       <textarea style="width: 100%"></textarea>
  </div>
      <div class="col-md-12">
     <h4>测试目的 <span class="label label-info"></span></h4>
       <textarea style="width: 100%"></textarea>
  </div>
      <div class="col-md-12">
     <h4>测试目的 <span class="label label-info"></span></h4>
       <textarea style="width: 100%"></textarea>
  </div>
      <div class="col-md-12">
     <h4>测试目的 <span class="label label-info"></span></h4>
       <textarea style="width: 100%"></textarea>
  </div>
      <div class="col-md-12" style="float: right">
    <div class="btn-group" role="group" aria-label="..." style="background-color: white">
  <button type="button" class="btn btn-default" style="background-color: inherit">保存</button>
  <button type="button" class="btn btn-default" style="background-color: inherit">下一步</button>
  </div>

</div>

    </div>



{% endblock %}