{% extends "regress/html/base.html" %}

{% block title %}
    {{ title }}
{% endblock %}
{% block js %}
    {% load staticfiles %}
    <script src="{% static 'js/regress.js' %}"></script>
    <script src="{% static 'js/task.js' %}"></script>

{% endblock %}



{% block content %}
     <div class="row">
         <div class="col-md-2" >
          <div class="panel panel-default" style="height: inherit">
  <div class="panel-heading">项目</div>
  <div class="panel-body" style="height: 1000px;background-color: azure">
      <ul class="list-group" style="height: inherit">
          {% for project in projects %}
  <li class="list-group-item "><a href="project.html"></a> {{ project.project_name }}</li>

          {% endfor %}
</ul>

  </div>
</div>
         </div>
     <div class="col-md-6">
         <div class="panel panel-default">
  <div class="panel-heading">工单管理</div>
  <div class="panel-body">

      <ul class="list-group">
          {% for task in tasks %}
  <li class="list-group-item list-group-item-info"><a href="project.html"></a> {{ task.task_name }}
  <button class="bg-info" id="cancel" style="float: right" >取消</button>
  <button class="btn-default" style="float: right" onclick="exe()">执行</button>
  </li>


          {% endfor %}
</ul>


  </div>
</div>


     </div>

</div>
{% endblock %}